<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/form.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/input.min.css" />
    <link rel="stylesheet" href="style.css" />
    <script type="text/javascript">
      window.ch=function(){(ch.q=ch.q||[]).push(arguments)};
      ch('config', {
        token: <%= htmlWebpackPlugin.options.CONTACTHUB_TOKEN %>,
        workspaceId: <%= htmlWebpackPlugin.options.CONTACTHUB_WORKSPACE_ID %>,
        nodeId: <%= htmlWebpackPlugin.options.CONTACTHUB_NODE_ID %>
      });
    </script>
    <script type="text/javascript" src='https://assets.contactlab.it/contacthub/sdk-browser/latest/contacthub.min.js'></script>
    <!-- start: Add ContacthubConnectSocial -->
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
      <script
        type='text/javascript'
        src="<%= htmlWebpackPlugin.options.buildPath %><%= htmlWebpackPlugin.files.chunks[chunk].entry %><%= htmlWebpackPlugin.options.gzip %>"
      ></script>
    <% } %>
    <!-- end: Add ContacthubConnectSocial -->
  </head>
  <body>
    <form class="ui form" id="form">
      <div id="icons-container"></div>
      <div class="field">
        <label>First Name</label>
        <input type="text" id="firstName" placeholder="First Name">
      </div>
      <div class="field">
        <label>Last Name</label>
        <input type="text" id="lastName" placeholder="Last Name">
      </div>
      <div class="field">
        <label>Gender</label>
        <input type="text" id="gender" placeholder="Gender">
      </div>
      <div class="field">
        <label>Email</label>
        <input type="text" id="email" placeholder="Email">
      </div>
      <div class="field">
        <label>Date of Birth</label>
        <input type="text" id="dateOfBirth" placeholder="Date of Birth">
      </div>
      <button type="button" class="ui button" onclick="contacthubConnectSocial.loginWithFacebook()">Login with Facebook</button>
      <button type="button" class="ui button" onclick="contacthubConnectSocial.loginWithGoogle()">Login with Google</button>
      <button type="button" class="ui button" onclick="contacthubConnectSocial.loginWithLinkedIn()">Login with LinkedIn</button>
    </form>

    <!-- start: Initialize ContacthubConnectSocial -->
    <script type="text/javascript">
      var contacthubConnectSocial = new window.ContacthubConnectSocial({
        clientIds: {
          facebook: '1882104035447885',
          google: '795655891034-5tou4pabjpdjdcmunv1970ujkuqggj7m.apps.googleusercontent.com',
          linkedin: '778rorytckysk3'
        },
        contacthub: window.ch,
        autofillOptions: {
          icons: {
            container: '#icons-container'
          },
          fields: {
            firstName: '#firstName',
            lastName: '#lastName',
            dateOfBirth: '#dateOfBirth',
            gender: '#gender',
            email: '#email'
          }
        }
      });
    </script>
    <!-- end: Initialize ContacthubConnectSocial -->
  </body>
</html>
